{% extends 'base.html.twig' %}

{% block title %} navbarre {% endblock %}

{% block body %}
<header class="navbar">
    <div class="navbar-container">
        <nav class="navbar-links">
            <a href="{{ path('app_home') }}">{{ contenus.accueil|default('Accueil')}}</a>
            <a href="{{ path('app_about') }}">{{ contenus.apropos|default('À propos')}}</a>
            <a href="{{ path('app_contact') }}">{{ contenus.contacts|default('Contacts')}}</a>
            <a href="{{ path('app_mention') }}">{{ contenus.mentionslégales|default('Mentions légales')}}</a>
            <a href="{{ path('app_chambres') }}">{{ contenus.chambres|default('Chambres')}}</a>
        </nav>
    </div>
    <div class="language-select">
				<select id="language-selector" onchange="changeLanguage(this)">
					<option value="fr" {% if app.request.locale == 'fr' %} selected {% endif %}>Français</option>
					<option value="en" {% if app.request.locale == 'en' %} selected {% endif %}>English</option>
				</select>
	</div>
</header>
{% endblock %}